<!-- views/about.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>About Burnt Rose</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas incidunt
      hic delectus sed ut itaque ipsum inventore voluptas repellendus, modi esse
      voluptatem distinctio possimus fugit illo provident laborum nemo totam?
    </p>
  </body>
</html>
