<!-- views/forum.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
  </head>
  <body>
    <h1>Burnt Rose Forum</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam fugiat sit
      veniam iure laudantium necessitatibus repudiandae cupiditate explicabo
      alias quos porro, quam id quas similique corporis minus nisi voluptatibus
      voluptas.
    </p>
  </body>
</html>
